@model HallBookingProject.Models.Home

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Home</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdHome">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
