
@model Tuple<IEnumerable<Home>, IEnumerable<Categoryy>, IEnumerable<Hall>, IEnumerable<Contact>, IEnumerable<Feedback>, IEnumerable<AboutU>>

 @* @{
    var result = ViewBag.CustmerPic;
}*@

@{
    var Id = ViewBag.id;
    var Cid = ViewBag.CustmerId;
    var Cemail = ViewBag.CustmerEmail;
    var Cpic = ViewBag.CustmerPic;  

}  

@{
    Layout = "~/views/Shared/_HomeLayout1.cshtml";
}


<head>
    <style>
    .site-hero.overlay:before {
    background: rgba(0, 6, 7, 0.45);
    content: "";
    position: absolute;
    height: 100vh;
    min-height: 700px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
</style>
</head>



        <section class="site-hero overlay" style="background-image: url(~/Home/img/hall_1.jpg) ; ">

      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center">
            <h1 class="heading" data-aos="fade-up">Welcome to <em>Hall</em> Booking</h1>
            <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">Discover our Halls.</p>
            	     <a style="width:11em;" class="btn btn-primary" asp-controller="Halls"  asp-action="UserIndex">  Search Hall by Name</a> 
      
          </div>
        </div>
        <!-- <a href="#" class="scroll-down">Scroll Down</a> -->
      </div>
    </section>
    <!-- END section -->


  

    <section class="section visit-section">

  

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="heading" data-aos="fade-right">You Can Reservation Many Type of Halls</h1>

          </div>
        </div>
        <div class="row">


             <!-- Category Product -->


            @foreach (var item in Model.Item2)
            {

                     <div class="col-lg-4 col-md-8 visit mb-3"  data-aos="fade-right"    >
            <a asp-controller="Home" asp-action="CtegoryProducts" asp-route-id="@item.IdCat"  ><img src="~/Home/img/chose.png" alt="Image placeholder" class="img-fluid" > </a>
            <h3><a asp-controller="Home" asp-action="CtegoryProducts" asp-route-id="@item.IdCat" >@item.CatName</a></h3>        
            <div class="reviews-star float-left">
              <span class="ion-android-star"></span>
              <span class="ion-android-star"></span>
              <span class="ion-android-star"></span>
              <span class="ion-android-star-half"></span>
              <span class="ion-android-star-outline"></span>
            </div>
           @* <span class="reviews-count float-right">
              3,239 reviews
            </span>*@
             </div>


                
            }

        </div>
      </div>
     
    </section>
    <!-- END Category Product section -->
    
   


      <!---------------------------------------------------------------------------------------->

      <!---- Testimonial ---->

      
       
   
        <section class="section testimonial-section">
           <div class="container">
               <div class="row justify-content-center text-center mb-5">
                 <div class="col-md-8">
                   <h2 class="heading" data-aos="fade-up">Testimonial</h2>
                 </div>
             
                 <div class="row"> <br />  <br /> <br />  <br />
                 @foreach (var item in Model.Item5)
                   {
         
                     @if (item.Email == "Accept")
                     {

                   
                         <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                           <div class="testimonial text-center">
                             <div class="author-image mb-3">
                               <img src="@Url.Content("~/Image/"+ Cpic)" alt="Image placeholder" class="rounded-circle">
                        @*        <img src=@Url.Content("~/Image/"+@ViewBag.CustmerPic) class="rounded-circle">*@
                             </div>
                             <blockquote>
                      
                               <p> @item.Feedback1 </p>
                             </blockquote>
                             <p><em> @item.FullName  </em></p>
                             
                           </div>
                         </div>
                         <!-- END col -->
                      
     
                   
                     }
                 } <br />
                 <br />
               
                 
                       <a asp-controller="Feedbacks" asp-action="Create" > <h4  style="color:mediumvioletred">To Write Your Testimonial Click HERE ! </h4></a>   
                              
               </div> 
                     
         
        </section> 
<!-- END Testimonial section -->


    <footer class="section footer-section">
      <div class="container">
        <div class="row mb-4">
       
        </div>
        <div class="row bordertop pt-5">
            @foreach (var item in Model.Item6)
            {
                  <span> @item.Description</span>
            <p><span class="d-block">Phone:</span> <span> @item.Phonenum </span></p>
            <p><span class="d-block">Email:</span> <span> @item.Email </span></p>
            }
            
              <div class="row mb-4">
          <p class="col-md-6 text-left"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
           Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
           <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            
          <p class="col-md-6 text-right social">
         
            <a href="#"><span class="fa fa-facebook"></span></a>
            <a href="#"><span class="fa fa-twitter"></span></a>
          </p>
        </div>
      </div>
    </footer>