


@model IEnumerable<HallBookingProject.Models.Reservation>

       <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
   </head>





  <div class="row">
       <div class="col-7">
           <form action="Search" method="post">
               <label for="StartEvent">Start date</label>
               <input  type="date" class="form-control" name="StartEvent" placeholder="Start Date" />
                <label for="EndEvent">End Date</label>
               <input  type="date" class="form-control" name="EndEvent" placeholder="End Date" />
               <br />
               <button type="submit" class="btn btn-danger"> Search</button>
           </form>
       </div>
   </div>
   <br />
   <br />
    <div class="row">
        <div class="col-10">
            <table class="table">
                <thead>
                    <tr>
                    <th>Customer First Name</th>
                    <th>Customer Last Name</th>
                    <th>Hall Name</th>
       
                    <th>Date From</th>
                    <th>Date To</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model ){
                        <tr>
                        
                              <td>
                                @Html.DisplayFor(modelItem => item.User.Fname)
                            </td>
                                 <td>
                                @Html.DisplayFor(modelItem => item.User.Lname)
                            </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.Hall.HallName)
                            </td>
                              <td>
                                @Html.DisplayFor(modelItem => item.StartEvent)
                            </td>
                               <td>
                                @Html.DisplayFor(modelItem => item.EndEvent)
                            </td>
            
                        </tr>

                     }

            </tbody>
            </table>

       </div>
    </div>
